@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

html, body {    
    height: 100vh;
}

body {
    background: royalblue url("../img/—Pngtree—dark\ vector\ abstract\ background_1159556.png") center top no-repeat;
    background-size: cover;

    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;

    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 1.3em;
    padding: 10px 20px;

    color: white;
    background-color: #014c69;
    box-shadow: 0px 0px 8px 0px #0000004f;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

h2 {
   font-size: 1.3em;
   font-family: monospace;
    text-shadow: 2px 2px 3px #0000001a;

    margin: 10px 0px;
    color: royalblue;
}

#bg {
    min-width: 600px;
    max-width: 800px;
    min-height: 350px;

    background: #c2c2c2e1;
    box-shadow: 0px 0px 8px 0px #0000002f;
    box-sizing: border-box;

    padding: 15px;
    margin: 0 auto;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

section {
    margin: 10px 5px;
}

#logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 80px;
}

a[href] {
    color: rgb(255, 255, 255);
    background-color: #014c69;
    padding: 5px 15px;
    margin-top: 5px;
    display: block;
}